# Analysing Students' Mental Health In Python
In this notebook, we will perform exploratory data analysis on a dataset around mental health of domestic and international students. We will look at how social connectedness and cultural issues affect mental health. Finally, we will visualise the results of our analysis using the Python Plotly package.

## The Data

This survey was conducted in 2018 at an international Japanese university and the associated study was published in 2019. It was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties compared to the general population, and that social connectedness and acculturative stress are predictive of depression.

Social connectedness: measure of belonging to a social group or network.

Acculturative stress: stress associated with learning about and intergrating into a new culture.

[See paper for more info, including data description.](https://www.mdpi.com/2306-5729/4/3/124/htm)

### Inspect the Data

Our data is in one table that includes all of the survey data. There are 50 fields and, according to the paper, 268 records. Each row is a student.

In [1]:
import pandas as pd

In [2]:
students = pd.read_csv('data.csv')

In [3]:
students.head()

,inter_dom,Region,Gender,Academic,Age,Age_cate,Stay,Stay_Cate,Japanese,Japanese_cate,...,Friends_bi,Parents_bi,Relative_bi,Professional_bi,Phone_bi,Doctor_bi,religion_bi,Alone_bi,Others_bi,Internet_bi
0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

1. Check if the data has 268 records.

In [5]:
students.value_counts()

inter_dom  Region  Gender  Academic  Age   Age_cate  Stay  Stay_Cate  Japanese  Japanese_cate  English  English_cate  Intimate  Religion  Suicide  Dep  DepType  ToDep  DepSev  ToSC  APD   AHome  APH   Afear  ACS  AGuilt  AMiscell  ToAS   Partner  Friends  Parents  Relative  Profess   Phone  Doctor  Reli  Alone  Others  Internet  Partner_bi  Friends_bi  Parents_bi  Relative_bi  Professional_bi  Phone_bi  Doctor_bi  religion_bi  Alone_bi  Others_bi  Internet_bi
Inter      SEA     Female  Under     21.0  3.0       3.0   Medium     2.0       Low            4.0      High          Yes       No        No       No   No       11.0   Mod     45.0  18.0  14.0   10.0  10.0   6.0  5.0     22.0      85.0   6.0      2.0      4.0      3.0       1.0      1.0     1.0     1.0   1.0    1.0     4.0       Yes         No          No          No           No               No        No         No           No        No         No             3
                                                                      1.0       Low            5.0      High          No        No        No       Yes  Other    8.0    Mild    31.0  16.0  14.0   5.0   5.0    8.0  3.0     35.0      86.0   7.0      7.0      5.0      3.0       4.0      2.0     2.0     1.0   2.0    1.0     3.0       Yes         Yes         Yes         No           No               No        No         No           No        No         No             2
Dom        JAP     Female  Under     19.0  2.0       1.0   Short      5.0       High           3.0      Average       No        No        No       No   No       9.0    Mild    47.0  8.0   7.0    5.0   5.0    3.0  2.0     13.0      43.0   5.0      7.0      7.0      6.0       7.0      7.0     7.0     1.0   1.0    1.0     2.0       Yes         Yes         Yes         Yes          Yes              Yes       Yes        No           No        No         No             2
Inter      SA      Male    Under     24.0  4.0       1.0   Short      3.0       Average        4.0      High          Yes       No        No       No   No       8.0    Mild    44.0  12.0  6.0    9.0   8.0    6.0  4.0     20.0      65.0   1.0      2.0      1.0      2.0       1.0      2.0     1.0     2.0   1.0    2.0     2.0       No          No          No          No           No               No        No         No           No        No         No             2
Dom        JAP     Female  Under     18.0  1.0       1.0   Short      5.0       High           3.0      Average       No        No        No       No   No       0.0    Min     44.0  8.0   9.0    5.0   4.0    3.0  2.0     11.0      42.0   1.0      7.0      7.0      3.0       1.0      1.0     1.0     1.0   1.0    1.0     1.0       No          Yes         Yes         No           No               No        No         No           No        No         No             1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
Inter      EA      Female  Under     22.0  3.0       3.0   Medium     4.0       High           4.0      High          Yes       No        No       No   No       7.0    Mild    40.0  19.0  12.0   6.0   8.0    6.0  2.0     20.0      73.0   7.0      5.0      4.0      3.0       2.0      1.0     1.0     1.0   1.0    1.0     1.0       Yes         Yes         No          No           No               No        No         No           No        No         No             1
                                     23.0  4.0       4.0   Long       3.0       Average        3.0      Average       Yes       No        Yes      No   No       10.0   Mod     32.0  24.0  12.0   15.0  12.0   9.0  6.0     30.0      108.0  4.0      4.0      4.0      3.0       3.0      3.0     3.0     3.0   3.0    3.0     3.0       No          No          No          No           No               No        No         No           No        No         No             1
                   Male    Under     18.0  1.0       1.0   Short      2.0       Low            2.0      Low           No        No        No       No   No       7.0    Mild    40.0  16.0  8.0    10.0  8.0    6.0  4.0     20.0      72.0   4.0      4.0      4.0      4.0       4.0      4.0     4.0     4.0   4.0    4.0     4.0       No          No          No          No           No               No        No         No           No        No         No             1
                                                     4.0   Long       3.0       Average        4.0      High          No        No        No       No   No       2.0    Min     40.0  24.0  13.0   25.0  10.0   6.0  6.0     20.0      104.0  1.0      3.0      6.0      6.0       1.0      1.0     1.0     1.0   1.0    1.0     1.0       No          No          Yes         Yes          No               No        No         No           No        No         No             1
           SEA     Male    Under     27.0  5.0       6.0   Long       3.0       Average        5.0      High          Yes       Yes       No       Yes  Other    10.0   Mod     35.0  8.0   4.0    5.0   4.0    3.0  2.0     16.0      42.0   7.0      5.0      3.0      4.0       1.0      1.0     1.0     3.0   2.0    1.0     4.0       Yes         Yes         No          No           No               No        No         No           No        No         No             1
Name: count, Length: 237, dtype: int64